/*  your css code here. If applicable */
#soundbar{
	height:200px;
	text-align:center;
	background-color:mediumpurple;
	color:white;
	padding:20px;
	margin:0 0 0 0;
}
.btn,.stop{
	text-align:center;
	
	background-color:darkblue;
	color:white;
	display:inline-block
}

#buttons{
	display:flex;
	
	justify-content:space-around;	
}